node_modules
.next
.git
.gitignore
npm-debug.log*
Dockerfile
.dockerignore
docker-compose.yml
markdown
*.md
.env*
tests
scripts
tsconfig.tsbuildinfo
.playwright-cli
output
vitest.config.ts
vitest.config.mts
coverage
